body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
    margin: 2%;
}

a {
    margin: 2%;
}

img {
    display: block;
    margin: 0 auto
}

.contact {
    display: flex; align-items: center;
}

.box {
    border: 1.5px solid black;
    padding: 2%; /* Adds space inside the border */
    margin: 20px; /* Adds space outside the border */
    height: 100vh; /* Full height of the viewport */
    width: 100vw;  /* Full width of the viewport */
    box-sizing: border-box; /* Ensures padding is included in total width/height */
}