@font-face {
    font-family: 'roboto-thin'; /* Define a name for the font */
    src: url('../fonts/roboto.thin.ttf') format('truetype'); /* Path to the .ttf file */
    font-weight: normal; /* Specify the font weight */
    font-style: normal; /* Specify the font style */
}

@font-face {
    font-family: 'roboto-light';
    src: url('../fonts/roboto.light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto-regular';
    src: url('../fonts/roboto.regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body,html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'roboto-light', sans-serif;
}

img {
    display: block;
    margin: 0 auto
}

a {
    color: black;
    text-decoration: none;
}

.greeting {
    margin: 2% 2% 0 2%;
    font-family: "roboto-thin", sans-serif;
    font-size: 250%;
}

.title {
    margin: 0 2% 2% 2%;
}

.about-me {
    opacity: 0; /* Initially hidden */
    visibility: hidden; /* Prevents clicking while hidden */
    transition: opacity 0.9s ease, visibility 0.9s ease;
}

.about-me.show {
    opacity: 1; /* Initially hidden */
    visibility: visible; /* Prevents clicking while hidden */
    transition: opacity 0.9s ease, visibility 0.9s ease;
}

.contacts {
    display: grid;
    justify-items: center;
    opacity: 0; /* Initially hidden */
    visibility: hidden; /* Prevents clicking while hidden */
    transition: opacity 0.9s ease, visibility 0.9s ease; /* Smooth fade */
    margin: 5%;
}

.contacts.show {
    opacity: 1; /* Fully visible */
    visibility: visible; /* Enables clicking */
}

.buttons {
    display: grid;
    justify-items: left;
}

.about-button {
    padding: 0;
    margin: 0 2% 0 2%;
    background: none;
    border: none;
    color: black; 
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth color transition */
}

.about-button:hover {
    color: grey
}

.contacts-button {
    padding: 0;
    margin: 0 2% 0 2%;
    background: none;
    border: none;
    color: black; 
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth color transition */
}

.contacts-button:hover {
    color: grey
}

.content-container {
    border: solid;
    display: grid;
    justify-content: right;
    width: 50%;
    height: 50%;
    float: right;
}

.box {
    margin: 20px;
    border: 1.5px solid black;
    height: calc(100vh - 40px);
    width: calc(100vw - 40px);
}

* {
    box-sizing: border-box;
}